<ion-view view-title="Вход" hide-nav-bar="true" class="login-black">
  <ion-content has-header="false">
    <form ng-submit="doLogin()">
      <div class="list list-inset">
        <div class="item">
        </div>
        <div style="text-align: center">
          <img src="img/logo_big.png" />
        </div>
        <div class="item">
          <label class="item item-input">
            <span class="ion-ios-person"></span>
            <input type="text" placeholder="Логин" ng-model="currentUser.Email">
          </label>
          <label class="item item-input">
            <span class="ion-key"></span>
            <input type="password" placeholder="Пароль" ng-model="currentUser.Password">
          </label>
          <button class="button button-block button-dark" type="submit"> <i class="ion-log-in"></i> Вход</button>

          <div style="text-align: center">
            <a href="#" ng-click="doRestorePassword()">Забыли пароль?</a>
          </div>
          <div style="text-align: center">
            <button class="button button-block button-calm" ng-click="doRegistration()">Зарегистрироваться</button>
          </div>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
