<ion-view view-title="Восстановление пароля" hide-nav-bar="true" class="login-black">
  <ion-content has-header="false">
    <form ng-submit="restorePassword()">
      <div class="list list-inset">
        <div class="item">
        </div>
        <div style="text-align: center">
          <img src="img/logo_big.png" />
        </div>
        <div class="item">
          
          <label class="item item-input">
            <span class="ion-ios-person"></span>
            <input type="text" placeholder="Email" ng-model="currentUser.Email">
          </label>
         
          <button class="button button-block button-dark" type="submit"> Восстановить пароль</button>

          <div style="text-align: center">
            <a href="#" ng-click="doRegistration()">Зарегистрироваться</a>
          </div>
          <div style="text-align: center">
            <button class="button button-block button-calm" ng-click="doLogin()">Войти</button>
          </div>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
