<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
        <ion-title text-center>Регистрация</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="login-logo">
        <img src="assets/img/logo.png" alt="Калькулятор мигранта">
    </div>
    <ion-row responsive-sm>
        <ion-col text-center>
            Для регистрации, укажите email и пароль
        </ion-col>
    </ion-row>
    <form #signupForm="ngForm" novalidate>
        <ion-list lines="none">
            <ion-item>
                <ion-label position="stacked" color="primary">Имя пользователя (email)</ion-label>
                <ion-input [(ngModel)]="signup.username" name="username" type="text" #username="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text color="danger">
                <p [hidden]="username.valid || submitted == false" padding-left>
                    Введите имя пользователя
                </p>
            </ion-text>
            <ion-item>
                <ion-label position="stacked" color="primary">Пароль</ion-label>
                <ion-input [(ngModel)]="signup.password" name="password" type="password" #password="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text color="danger">
                <p [hidden]="password.valid || submitted == false" padding-left>
                    Укажите пароль
                </p>
            </ion-text>
        </ion-list>
        <div padding>
            <ion-button (click)="onSignup(signupForm)" type="submit" expand="block">Зарегистрироваться</ion-button>
        </div>
    </form>
</ion-content>