
    .login-logo {
        padding: 0;
        min-height: 100px;
        text-align: center;
    }

    .login-logo img {
        max-width: 354px;
    }

    .list {
        margin-bottom: 0;
    }

