<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Восстановление пароля</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row responsive-sm>
    <ion-col text-center>
      Введите ваше имя пользователя (email) и мы отправим вам инструкцию по восстановлению доступа
    </ion-col>
  </ion-row>
  <ion-row responsive-sm>
    <ion-col text-center>

    </ion-col>
  </ion-row>
  <form #restoreForm="ngForm" novalidate>
    <ion-row responsive-sm>
      <ion-col>
        <ion-input placeholder="E-mail" [(ngModel)]="restore.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
                   required>
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row responsive-sm>
      <ion-col text-center>
        <ion-button (click)="onRestore(restoreForm)" type="submit" color="success" size="medium">Восстановить пароль</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
