<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Восстановление пароля</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row responsive-sm>
        <ion-col text-center>
            Введите ваше имя пользователя (email) и мы отправим вам инструкцию по восстановлению доступа
        </ion-col>
    </ion-row>
    <form #loginRestoreForm="ngForm" novalidate>
      <ion-list lines="none">
        <ion-item>
          <ion-input placeholder="E-mail" [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
                     required>
          </ion-input>
        </ion-item>
        <ion-item text-center>
          <ion-button (click)="onRestore(loginRestoreForm)" type="submit" color="success" size="medium" text-capitalize>Восстановить пароль</ion-button>
        </ion-item>
      </ion-list>
    </form>
</ion-content>
