<ion-header>
  <ion-toolbar>
    <ion-title>trip-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown"
                               pullingText="Потяните для обновления"
                               refreshingSpinner="circles"
                               refreshingText="Загрузка...">

        </ion-refresher-content>
    </ion-refresher>
</ion-content>
